aerich==0.4.3; python_version > '3.6'
aiofiles==0.6.0
aioredis==1.3.1
akinator.py==4.0.1
aPRAW==0.6.8a0
asyncpg==0.21.0
asyncpraw==7.1.0
git+https://github.com/Rapptz/discord-ext-menus
discord.py==1.5.1
DiscordUtils==1.2.6
jishaku==1.20.0.220
praw==7.1.0
py==1.10.0
PyYAML==5.3.1
requests==2.25.1
sympy==1.7.1
tortoise-orm==0.16.19; python_version > '3.6'
watchgod==0.6
